<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://2.bp.blogspot.com/-xPXz3Tr87i0/WtmQaQUOK6I/AAAAAAAABKw/F1d6_c9lKOAMQ_O9GKaRe78H-zbKpw1yACLcBGAs/s1600/big%2Bsale%2Boffer%2Bin%2Bclassic%2BPolo.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.24.co.za/files/Cms/General/d/7675/f63ed94c53cd4b1a8f57b2e184e478d3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.centrepointstores.com/i/centrepoint/SA_CP_Men_Section3M_01CP16MAY.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  