<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.pinimg.com/736x/c6/65/dd/c665dd90922ac404225ac0764878e50d.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Bigman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/bigmans">items</a>
                <a class="nav-link" href="/bigmans/new">New item</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/bigmans" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      collections
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/bigmans">winter collection</a></li>
                      <li><a class="dropdown-item" href="/bigmans">summer collection</a></li> 
                      <li><a class="dropdown-item" href="/bigmans">loungeware collection</a></li>
                    </ul>
                  </li>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

